[data-lazylo-state='waiting'] {
  background-image: svg('spin');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  animation: lazylo .5s linear infinite;
}

@keyframes lazylo {
  from {
    transform: rotate(0deg);

  } to {
    transform: rotate(360deg);
  }
}
